@import "varible";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  line-height: 1.4;
  overflow-x: hidden;
  font-family: $main-font;
  font-size: 1.6rem;
  color: $main-text-color;
}

.main-wrapper {
  width: 100%;
  max-width: 145rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  border: none;
  background-color: initial;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
}

.add-button {
  display: flex;
  width: 100%;
  max-width: 48.5rem;
  font-weight: 500;
  color: #fff;
  background-color: #247a00;
  padding: 1.6rem;
  transition: opacity 0.3s;

  &--item {
    &:first-of-type {
      flex-grow: 1;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}
