@import "mixins";

.header {
  .header-wrapper {
    @include flex-center-space-between;
    width: 145rem;
    margin: 0 auto;
    padding: 2.8rem 1rem;
  }

  &__logo {
    display: block;
    margin-right: 22rem;
  }

  &__services {
    flex: 1;
    @include flex-center-space-between;

    &--col {

      //display: flex;
      //justify-content: space-between;
      //width: 50%;
    }
  }

  &__service {
    display: flex;
    //width: 100%;
  }
}
