.modal-wrap {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  box-sizing: border-box;
}

.modal-content {
  width: 100%;
  max-width: 716px;
  min-height: $modalWindowMinHeight;
  max-height: 90vh;
  background-color: #fff;
  //padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
}

.modal-body {
  position: relative;
}

.active-modal {
  display: flex;
}

.close-modal {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  border: none;
  background-color: #fff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
  transition: transform 0.3s;

  &:hover {
    transform: rotate(90deg);
  }
}
